<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statistika</title>
    <link rel="stylesheet" href="../static/CSS/style.css">
    <link rel="stylesheet" href="../static/CSS/month_style.css">
</head>
<body>

    <nav class="navbar">
        <div class="logo">
            <img src="../static/scr/images/logo.png" alt="Logo">
            <div class="nav-caption">
                <h3> Adventures await! Rules can wait! </h3>
            </div>
        </div>
        <ul class="nav-links">
            <li><a href="/" class="button-link">Home</a></li>
        </ul>
    </nav>

    <div class="form-container">
        <h1>Statistika</h1>
        <form method="POST">
            <input type="text" name="date" placeholder="Data (mm-dd)" required>
            <button type="submit">Gauti statistiką</button>
        </form>
    </div>

    {% if stats %}
    <div class="table-container">
        <h2>Statistika iki {{ input_date }}</h2>
        <p>Nuotykių nuo metų pradžios: {{ stats.events_from_start }}</p>

        <h3>Nuotykiai tą dieną:</h3>
        <table>
            <thead>
                <tr>
                    <th class="col-data">Data</th>
                    <th class="col-nuotykis">Įvykis</th>
                </tr>
            </thead>
            <tbody>
                {% for event in stats.events_on_date %}
                <tr>
                    <td class="col-data">{{ event.date }}</td>
                    <td class="col-nuotykis">{{ event.event }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h3>Praėję nuotykiai:</h3>
        <table>
            <thead>
                <tr>
                    <th class="col-data">Data</th>
                    <th class="col-nuotykis">Įvykis</th>
                </tr>
            </thead>
            <tbody>
                {% for event in stats.past_events %}
                <tr>
                    <td class="col-data">{{ event.date }}</td>
                    <td class="col-nuotykis">{{ event.event }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h3>Būsimi nuotykiai:</h3>
        <table>
            <thead>
                <tr>
                    <th class="col-data">Data</th>
                    <th class="col-nuotykis">Įvykis</th>
                </tr>
            </thead>
            <tbody>
                {% for event in stats.future_events %}
                <tr>
                    <td class="col-data">{{ event.date }}</td>
                    <td class="col-nuotykis">{{ event.event }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</body>
</html>

